<% @carted_products.each do |carted_product| %>
  <p>
    <%= carted_product["product"]["name"] %> -
    <%= carted_product["product"]["price"] %> x
    <%= carted_product["quantity"] %>
  </p>
<% end %>